@layer components {
  .lottery-6hc-of {
    --lottery-content-width: 1240px;
    --color-red-main: oklch(50.5% 0.213 27.518);
    --color-red-desc: oklch(50% 0.1 20);

    @apply min-h-screen bg-[#efefef] text-[#1f1f1f];

    .top {
      @apply h-8 flex flex-col justify-center bg-red-900 text-white;
      .inner {
        @apply box-border mx-auto h-full w-[1240px] max-w-[1240px] min-w-0 px-0 flex items-center justify-between;
        .menu {
          @apply flex items-center gap-4 text-[14px] font-medium;

          a {
            @apply text-[#ffccdd] font-semibold;
          }

          button {
            @apply cursor-pointer border-0 bg-transparent p-0 text-[#ffccdd] font-semibold;
          }
        }
      }
    }

    .main {
      @apply mx-auto mt-[1rem] mb-[1.5rem] max-w-[var(--lottery-content-width)] flex flex-col min-h-0 w-full flex-1 basis-0;

      .header {
        @apply rounded-lg bg-white px-5 py-[10px] border-[7px] border-red-700 
        shadow-[0_0.1rem_0.325rem_rgba(0,0,0,0.07)] flex;
        .left {
          @apply w-[20%];
        }
        .right {
          @apply flex-1;
        }
        h1 {
          @apply my-0.5 mt-1.5 text-[25px] font-extrabold text-[var(--color-red-main)];
        }
        p {
          @apply m-0 text-[13px] text-[var(--color-red-desc)];
        }
      }

    }


    .a6-content {
      @apply mt-3;
    }

    .shadow {
      @apply rounded-lg border border-[#dadada] bg-white shadow-[0_0.1rem_0.325rem_rgba(0,0,0,0.07)];
    }

    @media (min-width: 1024px) {
      .main {
      }
    }
  }
}